/*----------------------------------------
  Estilos Generales del Documento
----------------------------------------*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

p {
  font-size: 1.1rem;
  color: inherit;
  line-height: 1.8;
  text-align: justify;
}

/*----------------------------------------
  Modo Claro y Modo Oscuro
----------------------------------------*/
.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark-mode {
  background-color: #212529;
  color: #ffffff;
}

.light-mode h2.section-title {
  color: #000000;
}

.dark-mode h2.section-title {
  color: #ffffff;
}
/*----------------------------------------
  Estilos del Main
----------------------------------------*/
/* Estilos CSS personalizados */
.main-content {
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 0.5rem; /* Ajusta el margen inferior según sea necesario */
}


/*----------------------------------------
  Estilos del Header
----------------------------------------*/
header {
    padding: 1rem 0; /* Incrementado el relleno vertical */
    height: 100px; /* Aumentada la altura del header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out, height 0.3s ease;
    position: relative;
}


header h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

header nav {
  margin-left: auto;
}

header ul.list-inline {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header ul.list-inline li {
  margin-right: 15px;
}

header ul.list-inline li:last-child {
  margin-right: 0;
}

header ul.list-inline li a.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

header ul.list-inline li a.nav-link:hover {
  color: #ffc107;
}

header.bg-dark h1 {
    margin-left: 300px; /* Ajusta el valor del margen izquierdo según tu preferencia */
}

#dark-mode-toggle {
  font-size: 0.9rem;
  padding: 8px 15px;
  margin-right: 100px;
}

/*----------------------------------------
  Estilos de Secciones Generales
----------------------------------------*/
section {
  padding: 60px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  margin-top: 5px;
}

h2.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

/*----------------------------------------
  Sección de Educación
----------------------------------------*/
/* Estilos para las tarjetas personalizadas */
.education-card {
    border: none;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    height: 53%;
    border-radius: 10px;
}

/* Estilos para las tarjetas en modo claro */
.light-mode .education-card {
    background-color: #ffffff; /* Fondo blanco */
    color: #343a40; /* Texto oscuro */
}

/* Estilos para las tarjetas en modo oscuro */
.dark-mode .education-card {
    background-color: #343a40; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}

/* Estilos al pasar el mouse en modo claro */
.light-mode .education-card:hover {
    transform: translateY(-10px); /* Efecto de levantamiento */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos al pasar el mouse en modo oscuro */
.dark-mode .education-card:hover {
    transform: translateY(-10px); /* Efecto de levantamiento */
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1); /* Sombra suave */
}


/*----------------------------------------
  Sección de Cursos MOOC
----------------------------------------*/
.course-card {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: #343a40;
  padding: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.course-content {
  text-align: center;
}

.course-title {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 0;
}

/*----------------------------------------
  Sección de Proyectos
----------------------------------------*/
.project {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.project .btn {
  font-size: 0.9rem;
  padding: 8px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project .btn:hover {
  background-color: #343a40;
  color: #ffffff;
}
/* Estilos para las tarjetas de proyectos */
.project-card {
  padding: 20px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Fondo claro para las tarjetas */
.light-mode .project-card {
  background-color: #f8f9fa; /* Fondo claro */
  color: #343a40; /* Texto oscuro */
}

/* Fondo oscuro para las tarjetas */
.dark-mode .project-card {
  background-color: #343a40; /* Fondo oscuro */
  color: #ffffff; /* Texto claro */
}
/* Estilos para los botones personalizados */
.github-btn {
    font-size: 0.9rem;
    padding: 8px 20px;
    border: 2px solid; /* Borde del botón */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el botón en modo claro */
.light-mode .github-btn {
    background-color: transparent; /* Fondo transparente */
    color: #343a40; /* Texto oscuro */
    border-color: #343a40; /* Borde oscuro */
}

/* Estilos para el botón en modo oscuro */
.dark-mode .github-btn {
    background-color: transparent; /* Fondo transparente */
    color: #ffffff; /* Texto claro */
    border-color: #ffffff; /* Borde claro */
}

/* Estilo para el botón al pasar el mouse */
.github-btn:hover {
    background-color: #343a40; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
}
/* Estilo para el botón al pasar el mouse en modo oscuro */
.dark-mode .github-btn:hover {
    background-color: #ffffff; /* Fondo claro */
    color: #343a40; /* Texto oscuro */
    border-color: #ffffff; /* Borde claro */
}
@media (max-width: 767px) {
  .project {
    padding: 20px;
  }
}
/*----------------------------------------
  Sección de Skills
----------------------------------------*/






/*----------------------------------------
  Animaciones
----------------------------------------*/
@keyframes scroll-highlight {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    background-image: url("images/code.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  100% {
    opacity: 0;
  }
}

.scroll-animation {
  animation: scroll-highlight 3s ease-in-out;
}

.content-section {
  position: relative;
  overflow: hidden;
}

.highlight-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: scroll-highlight 3s ease forwards;
  opacity: 0;
  pointer-events: none;
}
/*----------------------------------------
  Contenedor de Emoji
----------------------------------------*/
.emoji-container {
    position: fixed;
    top: 50%; /* Centra verticalmente */
    left: 80px; /* Ajusta la posición a la derecha */
    transform: translateY(-50%); /* Centra verticalmente */
    z-index: 999;
    text-align: center;
    display: none;
}

.emoji-wrapper {
    display: inline-block;
    position: relative;
}

.emoji {
    font-size: 10rem; /* Ajusta el tamaño del emoji */
}

.emoji-text {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
    color: #2ecc71;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.show-emoji {
    display: block !important;
    animation: emoji-animation 5s ease forwards;
}

@keyframes emoji-animation {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/*----------------------------------------
  Ajustes para Pantallas Pequeñas
----------------------------------------*/
@media (max-width: 768px) {
  header {
    height: auto;
  }

  header h1 {
    font-size: 1.2rem;
  }

  header ul.list-inline {
    flex-direction: column;
    align-items: flex-start;
  }

  header ul.list-inline li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  section {
    padding: 40px 10px;
    margin-top: 80px;
  }
}

/*----------------------------------------
  Estilos de Imagen de Perfil
----------------------------------------*/
.profile-img {
  max-width: 300px;
  height: auto;
}
/*----------------------------------------
  Estilos de Footer
----------------------------------------*/
.footer {
    background-color: #343a40; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
    padding: 40px 0;
    text-align: center;
}

.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.footer p {
    margin: 10px 0;
}

.footer i {
    color: #dc3545; /* Color de los íconos (corazón rojo) */
}
/*----------------------------------------
  Estilos de scrolltoTOP
----------------------------------------*/
.ir-arriba {
    display: none;
    padding: 15px;
    background-color: #024959;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.ir-arriba:hover {
    background-color: #037E8C;
    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

.ir-arriba::before {
    content: "\1F680"; /* Código Unicode del emoticón cohete */
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

@media (max-width: 576px) {
    .ir-arriba {
        font-size: 16px;
    }
}

