/*----------------------------------------
  Estilos Generales del Documento
----------------------------------------*/
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

p {
  font-size: 1.1rem;
  color: inherit;
  line-height: 1.8;
  text-align: justify;
}

/*----------------------------------------
  Modo Claro y Modo Oscuro
----------------------------------------*/
.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark-mode {
  background-color: #212529;
  color: #ffffff;
}

.light-mode h2.section-title {
  color: #000000;
}

.dark-mode h2.section-title {
  color: #ffffff;
}

/*----------------------------------------
  Estilos del Main
----------------------------------------*/
.main-content {
  margin-top: 50px;
  margin-bottom: 0.5rem;
}

/*----------------------------------------
  Estilos del Header
----------------------------------------*/
/* Estilos del Header */
header {
  padding: 1rem 0;
  height: auto; /* Altura automática para ajustarse al contenido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, height 0.3s ease;
  position: relative;
  background-color: #343a40; /* Color de fondo oscuro */
  color: #ffffff; /* Texto blanco */
  text-align: center; /* Alineación central del contenido */
}

h1.mb-0 {
  font-size: 2.5rem; /* Tamaño de fuente grande para dispositivos de escritorio */
  text-align: center; /* Centrado del texto */
  margin-bottom: 20px; /* Espacio inferior */
  margin-left: 20px; /* Aumenta el margen izquierdo */
}

@media (max-width: 768px) {
  h1.mb-0 {
    font-size: 2rem; /* Tamaño de fuente más pequeño para dispositivos móviles */
    margin-left: 10px; /* Ajuste de margen izquierdo para dispositivos móviles */
  }
}


/* Estilos para el menú de navegación */
header nav {
  margin-top: 10px; /* Margen superior */
}

ul.list-inline {
  padding: 0;
  margin: 0;
  list-style-type: none; /* Elimina los puntos de la lista */
  display: flex;
  justify-content: center; /* Centrado horizontal */
}

ul.list-inline li {
  margin-right: 15px;
}

ul.list-inline li:last-child {
  margin-right: 0;
}

ul.list-inline li a.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

ul.list-inline li a.nav-link:hover {
  color: #ffc107;
}

/* Estilos para el botón de modo oscuro */
#dark-mode-toggle {
  font-size: 0.9rem; /* Tamaño de fuente pequeño */
  padding: 8px 15px; /* Espaciado dentro del botón */
  margin-left: 10px; /* Margen izquierdo original */
  margin-right: 20px; /* Nuevo margen derecho */
}

@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */

  header h1 {
    font-size: 1.2rem; /* Tamaño de fuente reducido */
  }

  ul.list-inline {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centrado vertical */
  }

  ul.list-inline li {
    margin-bottom: 10px; /* Espacio entre elementos */
    margin-right: 0;
  }

  #dark-mode-toggle {
    margin-left: 0; /* Sin margen izquierdo */
    margin-top: 10px; /* Espacio superior */
  }
}


/*----------------------------------------
  Estilos de Secciones Generales
----------------------------------------*/
section {
  padding: 60px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  margin-top: 5px;
}

h2.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

/*----------------------------------------
  Sección de Educación
----------------------------------------*/
.education-card {
  border: none;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  height: 53%;
  border-radius: 10px;
}

.light-mode .education-card {
  background-color: #ffffff;
  color: #343a40;
}

.dark-mode .education-card {
  background-color: #343a40;
  color: #ffffff;
}

.light-mode .education-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dark-mode .education-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

/*----------------------------------------
  Sección de Cursos MOOC
----------------------------------------*/
.course-card {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-color: #343a40;
  padding: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.course-content {
  text-align: center;
}

.course-title {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 0;
}

/*----------------------------------------
  Sección de Proyectos
----------------------------------------*/
.project {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}

.project h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.project p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.project .btn {
  font-size: 0.9rem;
  padding: 8px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project .btn:hover {
  background-color: #343a40;
  color: #ffffff;
}

.light-mode .project-card {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark-mode .project-card {
  background-color: #343a40;
  color: #ffffff;
}

.light-mode .github-btn {
  background-color: transparent;
  color: #343a40;
  border-color: #343a40;
}

.dark-mode .github-btn {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

.github-btn:hover {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .github-btn:hover {
  background-color: #ffffff;
  color: #343a40;
  border-color: #ffffff;
}

@media (max-width: 767px) {
  section {
    padding: 40px 10px;
    margin-top: 80px;
  }
}

/*----------------------------------------
  Estilos de Imagen de Perfil
----------------------------------------*/
.profile-img {
  max-width: 300px;
  height: auto;
}

/*----------------------------------------
  Estilos de Footer
----------------------------------------*/
.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer p {
  margin: 10px 0;
}

.footer i {
  color: #dc3545;
}

/*----------------------------------------
  Estilos de scrolltoTOP
----------------------------------------*/
.ir-arriba {
  display: none;
  padding: 15px;
  background-color: #024959;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 1000;
}

.ir-arriba:hover {
  background-color: #037e8c;
  transform: scale(1.1);
}

.ir-arriba::before {
  content: "\1F680";
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .ir-arriba {
    font-size: 16px;
  }
}

/*----------------------------------------
  Animaciones
----------------------------------------*/
@keyframes scroll-highlight {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    background-image: url("images/code.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  100% {
    opacity: 0;
  }
}

.scroll-animation {
  animation: scroll-highlight 3s ease-in-out;
}

.content-section {
  position: relative;
  overflow: hidden;
}

.highlight-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: scroll-highlight 3s ease forwards;
  opacity: 0;
  pointer-events: none;
}

/*----------------------------------------
  Contenedor de Emoji
----------------------------------------*/
.emoji-container {
  position: fixed;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  z-index: 999;
  text-align: center;
  display: none;
}

.emoji-wrapper {
  display: inline-block;
  position: relative;
}

.emoji {
  font-size: 10rem;
}

.emoji-text {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  color: #2ecc71;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.show-emoji {
  display: block !important;
  animation: emoji-animation 5s ease forwards;
}

@keyframes emoji-animation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

